@import "tailwindcss";

:root {
  --primary-color: #b10203; /* Dark Red */
  --secondary-color: #e02426;
}

.react-quill-editor {
  height: 300px; /* or whatever you prefer */
  display: flex;
  flex-direction: column;
}

.react-quill-editor .ql-toolbar {
  flex-shrink: 0;
}

.react-quill-editor .ql-container {
  flex: 1;
  overflow-y: auto;
}
